@import '../../node_modules/@mdxeditor/editor/dist/style.css';
@import '../css/MarkdownEditerStyle.css';
@import '../css/TopBarStyle.css';
@import '../css/FileSidebarStyle.css';
@import '../css/DashboardStyle.css';
@import '../css/CampaignStyle.css';
@import '../css/auth.css';

:root {
  --foreground: #171717;
}

html,
body {
  background: #121212;
  color: #ffffff;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: auto;
  overflow-y: auto;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.brand-title{
  font-size: 1.6rem;
  font-weight: 800;
  color: #4ea1ff;
  text-shadow: -1px 2px 2px #377ac7;
  letter-spacing: 0.4px;
  white-space: nowrap;
}

.app-title-btn {
  background: none;
}

.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal input,
.modal textarea {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 12px;
  padding: 8px;
  background: #111;
  border: 1px solid #333;
  color: white;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
